:root {
  /* Primary */
  --veryDarkBlue: hsl(243, 87%, 12%);
  --desarutedBlue: hsl(238, 22%, 44%);

  /* Accent */
  --brightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);

  /* Neutral */
  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--veryDarkBlue);
}
p {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--veryDarkBlue);
}

h1,
h2,
h3,
h4 {
  line-height: 3rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

/* Utilites */
input[type="email"] {
  padding: 1rem 2rem;
  width: 60%;
  font-family: "Open Sans", sans-serif;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 3px;
  font-size: 1.5rem;
  box-shadow: 0 1px rgba(0, 0, 0, 0.459);
  white-space: nowrap;
}

.btn-primary {
  background: var(--brightBlue);
  color: white;
}

.flex {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

.col1 {
  flex: 1;
}

.col2 {
  flex: 1;
}

/* Header section */
.main-container {
  width: 100%;
  margin: auto;
  max-width: 1400px;
  padding: 2rem;
}

.main-header {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin-left: 30px;
  white-space: nowrap;
  font-size: 2rem;
}

/* Content */

#first-content .first-form {
  margin-top: 2rem;
  display: flex;
}
#first-content .first-form a {
  margin-left: 1.5rem;
}

#second-content {
  margin-top: 30rem;
}

#second-content a {
  font-size: 1.5rem;
  position: relative;
  top: 2rem;
}

#second-content a::after {
  content: "";
  display: block;
  border-bottom: 1px solid black;
  width: 165px;
  margin-top: 4px;
}

#second-content a img {
  width: 20px;
  margin-left: 1rem;
  position: absolute;
  top: 2px;
}
#second-content .testimonial {
  margin-top: 5rem;
  max-width: 360px;
  padding: 2.5rem 2.5rem;
  box-shadow: -1px 0px 5px 4px rgba(92, 116, 250, 0.123);
}
#second-content .testimonial .qoute {
  width: 20px;
}
#second-content .testimonial p {
  font-size: 1.5rem;
  margin: 0;
}

#second-content .avatar {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
#second-content .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#second-content .avatar-info {
  margin-left: 1rem;
}
.avatar-info .fullname {
  font-weight: 700;
}
.avatar-info h5 {
  font-size: 1rem;
  font-weight: normal;
}

/* Access Section */
#access-section {
  margin-top: 20rem;
  background: var(--desarutedBlue);
}
#access-section p,
#access-section h1 {
  color: white;
}
.access-container {
  width: 100%;
  margin: auto;
  max-width: 1400px;
  padding: 10rem 2rem;
}

#access-section a {
  margin-top: 2rem;
  width: 200px;
}

#access-section form {
  display: flex;
  flex-direction: column;
}
#footer {
  background: var(--veryDarkBlue);
}
#footer .footer-container {
  width: 100%;
  margin: auto;
  max-width: 1400px;
  padding: 10rem 2rem;
}
.footer-container .logo {
  width: 150px;
}
.footer-container .icon {
  width: 15px;
}
.footer-content {
  margin: 2rem 0;
  color: white;
  display: flex;
  justify-content: space-between;
}

.phone li span {
  font-size: 1.5rem;
}

.mt {
  margin-top: 1rem;
}
.footer-content a {
  color: white;
  font-size: 1.5rem;
}
.about-us li,
.contact-us li {
  padding-bottom: 2rem;
}
.footer-content .social-media {
  display: flex;
}
.footer-content .social-media li i {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content .social-media li {
  padding-left: 2rem;
}
